.priceGrid {
  display: Grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-gap: 15px;
  margin-top: 20px;
  text-align: center;
}
.priceTile:hover {
  cursor: pointer;
  color: #18ab29;
}
.priceTile {
  box-shadow: 0px 0px 5px 1px;
  text-align: center;
  background-color: rgb(45, 73, 100);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coinSymbol {
  justify-self: left;
}
.coinChangeGreen {
  justify-self: right;
  margin-left: -5px;
  font-size: 1em;
  color: green;
}
.coinChangeRed {
  justify-self: right;
  margin-left: -5px;
  font-size: 1em;
  color: red;
}
.coinPrice {
  font-size: 1.5em;
  justify-self: left;
}
