.priceGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-gap: 15px;
  margin-top: 20px;
  text-align: center;
}
.priceTile:hover {
  cursor: pointer;
  color: #18ab29;
}
.priceTile {
  box-shadow: 0px 0px 5px 1px;
  text-align: center;
  background-color: rgb(45, 73, 100);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coinSymbol {
  justify-self: left;
}
.coinChangeGreen {
  justify-self: right;
  margin-left: -27px;
  font-size: 1em;
  color: green;
}
.coinChangeRed {
  justify-self: right;
  margin-left: -27px;
  font-size: 1em;
  color: red;
}
.coinPrice {
  font-size: 1.5em;
  justify-self: left;
}
.coinSpotLightGrid {
  margin-top: 20px;
  background-color: rgb(45, 73, 100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.coinSpotLight {
  box-shadow: 0px 0px 5px 1px;
  text-align: center;
}
.coinHistory {
  margin-top: 40%;
  margin-left: 21%;
}
#days,
#weeks,
#months {
  color: #1163c9;
  border: 1px solid;
  margin: 5px;
  height: 25px;
  float: right;
}
