.coinListGrid {
  box-shadow: 0px 0px 5px 1px;
  background-color: rgb(45, 73, 100);
  text-align: center;
}
#selectableTile:hover,
#deletableTile:hover {
  cursor: pointer;
}
#selectableTile:hover {
  color: #18ab29;
}
#deletableTile:hover {
  color: rgb(172, 8, 8);
}
.deleteIcon {
  opacity: 0;
}
.deleteIcon:hover {
  opacity: 1;
}
.CoinHeaderGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coinSymbol {
  justify-self: right;
}
